body {
  background-color: #D8D8D8;
}

h1, h2 {
  color: maroon;
  text-shadow: 2px 2px 4px gray; 
}

h2 {
  padding: 50px;
}

#sidebar {
  position: fixed;
  left: 0px;
  top: 0;
  bottom: 0;
  background-image: url(img/background.jpg) ;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 0px 0px gray;
}

#topsection
{
  display: flex;
  justify-content: space-around;
  text-align-last: center;
  margin-left: 210px;
  
}

#conteneurs
{
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-self: auto;
  margin-left: 220px;
}

